/* PlanetsComponent's private CSS styles */
h2 {
  color:aliceblue
}
.planets {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  
  }
  
  .planets li {
    display: flex;
    color: white
  }
  
  .planets button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items:stretch;
    height: 1.8em;
    font-size: 1.1em;

  }
  
  .planets button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
    rotate: 5deg ;
  }
  
  .planets button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .planets button.selected {
    background-color: black;
    color: white;
  }
  
  .planets button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .planets button.selected:active {
    background-color: black;
    color: white;
  }
  
  .planets .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .planets .name {
    align-self: center;
  }
  a {
    color:white;
    text-decoration:none;
    background-color: black;
    margin: 10px ;
    /* padding-right: 20px; */
    /* padding-inline-end: 50px; */
    /* padding-inline: 30px; */
    /* padding-inline-start: 30px; */
    /* padding-block: 0 30px 0 0; */
    /* padding-block-end:   30px; */
    
  
  
  }
